.watchListCard{
  width: 200px;
  position: relative;
}
.watchListCard img{
  width: 100%;
}
.watchListCard:hover .ctrl-card{
display: flex;
align-items: center;
justify-content: space-between;
align-items: center;
}