.ctrl-card{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  background-color: black;
  color: white;
  padding: 5px 8px;
  width: 100px;
  border-radius: 5px;
  display: none;
}